.calendar {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;

	h3 {
		margin: 0;
		font-weight: normal;
	}
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;

	&.header {
		font-weight: bold;
		margin-bottom: 8px;
	}

	.day {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 26px;
		margin: 0;
		margin-top: 2px;
		margin-bottom: 2px;
		border-radius: 30%;
		color: var(--number-color);

		&.empty {
			visibility: hidden;
		}

		&.number:hover {
			background-color: var(--number-bg-hover);
			color: var(--number-color-hover);
			cursor: default;
		}

		&.past {
			color: var(--past-color);
		}
	}

	.selected {
		cursor: help !important;
	}

	.selected:not(.start):not(.end) {
		border-radius: 0;
	}

	> .start:not(.end) {
		border-radius: 30% 0 0 30%;
	}

	> .end:not(.start) {
		border-radius: 0 30% 30% 0;
	}
}

.today {
	border-color: var(--today-border-color);
	border-width: 2px;
	width: 26px !important;
	height: 22px !important;
	border-style: dashed !important;

	:has(.dark-mode) {
		border-color: #0b385c;
	}
}

.other-month {
	color: var(--other-month-color);
}

.weekend {
	background-color: var(--weekend-bg);
}

.closed-day {
	border: 2px solid var(--closed-day-bg);
	width: 26px !important;
	height: 22px !important;
}

.rtt {
	background-color: var(--rtt-bg);
}

.cp {
	background-color: var(--cp-bg);
}

.other {
	background-color: var(--other-bg);
}

.row .week-number {
	height: 30px;
	font-weight: bold;
	color: var(--week-number-color);
	margin-right: 0.5rem;
	background-color: var(--week-number-bg);
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.row .week-number:hover {
	background-color: var(--week-number-bg-hover);
	cursor: default;
}

.row .week-number.start {
	border-radius: 30% 30% 0 0;
}

.row .week-number.end {
	border-radius: 0 0 30% 30%;
}
