.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

@media (max-width: 768px) {
	.content {
		flex-direction: column;
	}
}

.modeButton {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;
}
