.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

@media (max-width: 768px) {
	.content {
		flex-direction: column;
	}
}

.modeButton {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;
}

@media (max-width: 768px) {
	.mat-divider-vertical {
		display: none;
	}

	.mat-divider-horizontal {
		display: block !important;
	}
}

.mat-divider-vertical {
	height: 80vh;
	width: 1px;
	margin: 0 16px;
}

.mat-divider-horizontal {
	width: 80%;
	height: 1px;
	margin: 16px 0;
	display: none;
}
