<div class="container">
	<div>
		<h1>Calendar Settings</h1>
		<p>Configure your calendar settings here.</p>
	</div>
	<div style="display: flex; flex-direction: column; gap: 1rem">
		@for (setting of calendarSettingsService.settingsArray; track setting.id) {
			<div style="align-self: flex-start">
				<mat-slide-toggle
					[id]="setting.id"
					[name]="setting.id"
					[checked]="setting.signal()"
					(change)="setting.signal.set($event.checked)"
				>
					{{ setting.description }}
				</mat-slide-toggle>
			</div>
		}
	</div>
	<button mat-button (click)="closeDialog()">Fermer</button>
</div>
