.user-input {
	display: flex;
	flex-direction: column;
	margin: 1rem;

	label {
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	.error-message {
		color: #ff0000;
		font-size: 0.875rem;
		margin-top: 0.25rem;
	}

	.warning-card {
		margin-bottom: 1rem;
	}

	.warning-content {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}

form {
	display: flex;
	flex-direction: column;
}
